.roundnet {
  margin: auto;
  position: relative;
  top: 45%;
  transform: translateY(-45%);
  border-radius: 50%;
  border-width: 3px;
  border: 4px solid black;
  background-image: url("./net.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.jersey {
  width: 10%;
}

.position1 {
  position: absolute;
  top: 0;
  left: 0;
}

.sizeButton {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.sizeButtonContainer {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttonContainer {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/* .position2 {
  position: absolute;
  top: 250px;
  left: 10px;
}

.position3 {
  position: absolute;
  top: 250px;
  right: 10px;
}

.position4 {
  position: absolute;
  bottom: 120px;
  left: 125px;
} */
